{
  log {
    exclude http.log.error
  }
}

{{ proxy_masked_naive_domain }}:{{ proxy_masked_naive_port }} {
  tls /etc/letsencrypt/live/{{ proxy_masked_naive_domain }}/fullchain.pem /etc/letsencrypt/live/{{ proxy_masked_naive_domain }}/privkey.pem
  encode zstd gzip

  route {
    forward_proxy {
{% for item in proxy_masked_clients | dict2items %}
      basic_auth {{ item.key }} {{ item.value.password }}
{% endfor %}
      hide_ip
      hide_via
      probe_resistance
    }

    reverse_proxy {{ proxy_masked_screen_site }}
  }
}
