{
  "log": {
    "level": "error"
  },
  "dns": {
    "servers": [
      {
        "type": "https",
        "tag": "adguard-https",
        "server": "94.140.15.15",
        "server_port": 443,
        "path": "dns-query",
        "headers": {},
        "tls": {
          "enabled": true,
          "server_name": "dns.adguard-dns.com",
          "utls": {
            "enabled": true,
            "fingerprint": "random"
          }
        }
      }
    ]
  },
  "inbounds": [
    {
      "type": "mixed",
      "tag": "in-full",
      "listen": "127.0.0.1",
      "listen_port": 1080
    }
  ],
  "outbounds": [
    {
      "tag": "ws",
      "type": "vless",
      "server": "{{ ansible_host }}",
      "server_port": 443,
      "uuid": "{{ client_uuid }}",
      "tls": {
        "enabled": true,
        "server_name": "{{ proxy_masked_domain }}",
        "utls": {
          "enabled": true,
          "fingerprint": "random"
        }
      },
      "transport": {
        "type": "ws",
        "path": "{{ proxy_masked_singbox_vless_ws_path }}"
      }
    },
    {% if false %}
    {
      "type": "naive",
      "tag": "naive-out",
      "server": "{{ ansible_host }}",
      "server_port": 443,
      "username": "{{ client_name }}",
      "password": "{{ client_password }}",
      "extra_headers": {
        "X-Proxy-Flag": "naive"
      },
      "udp_over_tcp": {
        "enabled": true,
        "version": 2
      },
      "tls": {
        "enabled": true,
        "server_name": "{{ proxy_masked_domain }}"
      }
    },
    {% endif %}
    {
      "type": "direct",
      "tag": "direct"
    }
  ],
  "route": {
    "rules": [
      {
        "source_ip_is_private": true,
        "ip_is_private": true,
        "outbound": "direct"
      }
    ],
    "auto_detect_interface": true,
    "final": "ws"
  }
}
