{
  "listen": [
    "socks://127.0.0.1:11080",
    "http://127.0.0.1:18080"
  ],

  "proxy": "https://{{ client_name }}:{{ client_password | urlencode }}@{{ proxy_masked_naive_domain }},

  "insecure-concurrency": 4,

  "host-resolver-rules": "MAP {{ proxy_masked_naive_domain }} {{ ansible_host }}",

  "log": ""
}
