{
  "log": {
    "level": "error"
  },
  "inbounds": [
    {
      "type": "vless",
      "listen": "127.0.0.1",
      "listen_port": {{ proxy_masked_singbox_vless_ws_port }},
      "users": [
      {% for item in proxy_masked_clients | dict2items %}
        {
          "name": "{{ item.key }}",
          "uuid": "{{ item.value.uuid }}",
          "flow": ""
        }{% if not loop.last %},{% endif %}
      {% endfor %}
      ],
      "transport": {
        "type": "ws",
        "path": "{{ proxy_masked_singbox_vless_ws_path }}"
      }
    }
  ],
  "outbounds": [
    {
      "type": "direct"
    }
  ]
}
