---
project_name: "nextcloud"
project_src: "/opt/nextcloud"
application_container_name: "nextcloud_application"
nextcloud_version: "32-apache"
nextcloud_external_port: 65080
nextcloud_data_host_path: "/opt/nextcloud/data"
nextcloud_memory_limit_mb: 1024
postgres_container_name: "nextcloud_database"
postgres_version: "18"
pgdata_container_path: "/var/lib/postgresql/data"
pgdata_host_path: "/opt/pg/nextcloud"
postgres_host: "database"
postgres_db: "next_cloud_data"
postgres_user: "nc_admin"
postgres_password: "Change_me_please"
postgres_memory_limit_mb: 1024
redis_host: "nc_redis"
redis_container_name: "nc_redis"
redis_version: "8-trixie"
redis_password: "Change_me_please"
redis_memory_limit_mb: 1024
