{
  "data-root": "{{ docker_data_root }}",
  "max-concurrent-downloads": {{ docker_max_concurrent_downloads }},
  "max-concurrent-uploads": {{ docker_max_concurrent_uploads }},
  "max-download-attempts": {{ docker_max_download_attempts }}
}
