---
- name: mkdir project
  file:
    path: "{{ drone_project_src }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0700

- name: render docker-compose template
  template:
    dest: "{{ drone_project_src }}/docker-compose.yml"
    src: "docker-compose.yml.j2"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    validate: "docker-compose -f %s config"
    mode: 0600
  register: compose

- name: docker-compose up
  community.docker.docker_compose_v2:
    project_src: "{{ drone_project_src }}"
    project_name: "{{ drone_project_name }}"
    state: present
    files:
      - "docker-compose.yml"
    remove_orphans: yes
    pull: yes
    restarted: false
  register: output
  when:
    - not compose is changed

- name: docker-compose restart
  community.docker.docker_compose_v2:
    project_src: "{{ drone_project_src }}"
    project_name: "{{ drone_project_name }}"
    state: present
    files:
      - "docker-compose.yml"
    remove_orphans: yes
    pull: yes
    restarted: true
  register: output
  when:
    - compose is changed

- name: deploy runner in k3s
  template:
    dest: "{{ k3s_data_dir | default('/var/lib/rancher/k3s') }}/server/manifests/droneci.yaml"
    src: "manifest.yml.j2"
    owner: "root"
    group: "root"
    validate: "k3s kubectl apply --validate=true --dry-run=client --filename=%s"
    mode: "0644"
    backup: no
    force: yes
  become: true
  when:
    - drone_k3s_runner_deploy
    - "'k3s_master' in group_names"
