# {{ item.name }} wireguard client config
[Interface]
PrivateKey = {{ item.private_key }}
Address = {{ item.address4 }}/{{ wireguard_server.mask4 }},{{ item.address6 }}/{{ wireguard_server.mask6 }}
DNS = 94.140.14.14,94.140.15.15

[Peer]
PublicKey = {{ wireguard_server.public_key }}
Endpoint = {{ wireguard_server.external_ip }}:{{ wireguard_server.port }}
AllowedIPs = 0.0.0.0/0,::/0
PersistentKeepalive = 25
