---

- name: restart_sshd
  systemd:
    daemon_reload: no
    state: restarted
    name: "{{ item }}"
  with_items:
    - "sshd.service"
    - "ssh.service"
  ignore_errors: true
  become: true

- name: restart_journald
  systemd:
    daemon_reload: no
    state: restarted
    name: "systemd-journald.service"
  become: true
