K3S_NODE_NAME={{ k3s_node_name }}
K3S_KUBECONFIG_MODE=644
{% if k3s_system_default_registry is defined %}
K3S_SYSTEM_DEFAULT_REGISTRY={{ k3s_system_default_registry }}
{% endif %}
{% if k3s_datastore_endpoint is defined %}
K3S_DATASTORE_ENDPOINT={{ k3s_datastore_endpoint }}
{% endif %}
{% if k3s_datastore_cafile is defined %}
K3S_DATASTORE_CAFILE={{ k3s_datastore_cafile }}
{% endif %}
{% if k3s_datastore_certfile is defined %}
K3S_DATASTORE_CERTFILE={{ k3s_datastore_certfile }}
{% endif %}
{% if k3s_datastore_keyfile is defined %}
K3S_DATASTORE_KEYFILE={{ k3s_datastore_keyfile }}
{% endif %}