- name: Install packages
  apt:
    name:
      - nginx-extras
      - libnginx-mod-http-lua
      - lua5.4
      - lua-json
      - lua-cjson
      - certbot
      - python3-certbot-nginx
      - curl
    update_cache: yes

- name: Install sing-box
  shell: curl -fsSL https://sing-box.app/deb-install.sh | bash
  args:
    creates: /usr/bin/sing-box

- name: Create fake site dir
  file:
    path: /var/www/fake
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'
    recurse: true

- name: Deploy fake site
  copy:
    src: index.html
    dest: /var/www/fake/index.html
    owner: www-data
    group: www-data
    mode: '0644'

- name: Create lua dir
  file:
    path: /etc/nginx/lua/
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'
    recurse: true

- name: Deploy lua
  copy:
    src: client_info.lua
    dest: /etc/nginx/lua/client_info.lua
    owner: www-data
    group: www-data
    mode: '0755'

- name: Create letsencrypt dir
  file:
    path: "{{ item }}"
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'
    recurse: true
  loop:
    - /var/www/fake/.well-known/acme-challenge
    - /var/www

- name: Copy nginx conf
  copy:
    src: nginx.conf
    dest: /etc/nginx/nginx.conf

- name: Copy nginx mime.types
  copy:
    src: mime.types
    dest: /etc/nginx/mime.types

- name: Copy nginx default site
  copy:
    src: default.conf
    dest: /etc/nginx/sites-enabled/default

- name: Reload nginx
  systemd:
    name: nginx
    state: reloaded

- name: Obtain TLS cert
  shell: >
    certbot certonly --webroot
    -w /var/www/fake
    -d {{ proxy_masked_domain }}
    --email {{ proxy_masked_email }}
    --agree-tos
    --non-interactive

- name: Configure nginx
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/sites-enabled/{{ proxy_masked_domain }}

- name: Reload nginx
  systemd:
    name: nginx
    state: reloaded
