MINIO_ACCESS_KEY="{{ minio_access_key }}"
MINIO_VOLUMES="{{ minio_volumes }}"
MINIO_OPTS="-C {{ minio_config_dir }} --address {{ minio_address }}:{{minio_port}}"
MINIO_SECRET_KEY="{{ minio_secret_key }}"
