- name: Assert required variables
  assert:
    that:
      - vless_masked_domain is string
      - vless_masked_domain | length > 0
      - vless_masked_email is string
      - vless_masked_email | length > 0
    fail_msg: "vless_masked_domain and vless_masked_email must be set"

- name: Include tasks for server setup
  include_tasks: server_setup.yml

- name: Include tasks for client provisioning
  include_tasks: generate_clients.yml
