[Interface]
ListenPort = {{ wireguard_server.port }}
Address = {{ wireguard_server.address4 }}/{{ wireguard_server.mask4 }},{{ wireguard_server.address6 }}/{{ wireguard_server.mask6 }}
PrivateKey = {{ wireguard_server.private_key }}
PostUp = iptables -A FORWARD -i {{ wireguard_server.interface_name }} -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE; ip6tables -A FORWARD -i {{ wireguard_server.interface_name }} -j ACCEPT; ip6tables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i {{ wireguard_server.interface_name }} -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE; ip6tables -D FORWARD -i {{ wireguard_server.interface_name }} -j ACCEPT; ip6tables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
{% for peer in wireguard_peers %}

[Peer] # {{ peer.name }}
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.address4 }}/32,{{ peer.address6 }}/128
{% endfor %}
