---

- name: restart
  community.docker.docker_compose_v2:
    project_src: "{{ prometheus_project_src }}"
    project_name: "{{ prometheus_project_name }}"
    state: present
    files:
      - "docker-compose.yml"
    remove_orphans: yes
    pull: yes
    restarted: true
