{
  "log": { "level": "info" },
  "inbounds": [
    { "type": "socks", "listen": "127.0.0.1", "listen_port": 1080 }
  ],
  "outbounds": [
    {
      "tag": "ws",
      "type": "vless",
      "server": "{{ vless_masked_domain }}",
      "server_port": 443,
      "uuid": "{{ client_uuid }}",
      "tls": { "enabled": true, "server_name": "{{ vless_masked_domain }}" },
      "transport": { "type": "ws", "path": "{{ client_ws_path }}" }
    },
    {
      "tag": "grpc",
      "type": "vless",
      "server": "{{ vless_masked_domain }}",
      "server_port": 443,
      "uuid": "{{ client_uuid }}",
      "tls": { "enabled": true, "server_name": "{{ vless_masked_domain }}" },
      "transport": { "type": "grpc", "service_name": "{{ client_grpc_service }}" }
    },
    {
      "type": "urltest",
      "tag": "auto",
      "outbounds": [ "ws", "grpc" ],
      "url": "https://www.gstatic.com/generate_204",
      "interval": "30s",
      "tolerance": 100
    },
    { "type": "direct", "tag": "direct" }
  ],
  "route": { "final": "auto" }
}
