server {
    listen 443 ssl http2;
    server_name {{ vless_masked_domain }};

    ssl_certificate     /etc/letsencrypt/live/{{ vless_masked_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ vless_masked_domain }}/privkey.pem;

    root /var/www/fake;
    index index.html;

    # По умолчанию открывается index.html
    location / {
        try_files $uri $uri/ /index.html;
    }

    # Health check
    location /ping {
        access_log off;
        default_type text/plain;
        return 200 "pong\n";
    }

    # VLESS WebSocket
    location /ws- {
        proxy_pass http://127.0.0.1:{{ vless_masked_singbox_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
    }

    # VLESS gRPC (реальный HTTP/2)
    location /grpc- {
        grpc_pass grpc://127.0.0.1:{{ vless_masked_singbox_port | int + 2 }};
        grpc_set_header Host $host;
    }
}
